body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Blanco */
    color: #ff0000; /* Rojo */
}

header {
    background-color: #ff0000; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ff0000; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}