body {
   font-family: Arial, sans-serif;
   text-align: center;
   background-color: #f2f2f2;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.imagen {
   height: 700px;
   width: 700px;
   margin: 0 auto;
   display: none; /* Ocultar la imagen por defecto */
}

.imagen > img {
   display: block;
   width: 500px;
}

h1 {
   color: #333;
   margin-top: 20px;
}

#brand {
   font-size: 20px;
   color: #555;
   margin-bottom: 20px;
}

#dogImage {
   max-width: 100%;
   border-radius: 10px;
   margin-top: 20px;
}

#breedSelect {
   padding: 10px;
   font-size: 16px;
}

#loadButton, #showButton {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #3498db;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 10px;
} 